@model IEnumerable<MediaApp.Models.People>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ModelIndexLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movies)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.PeopleImage != null)
            {
                var imgData = "data:" + @item.PeopleImage.Type + ";base64," + @item.PeopleImage.Data;
                <img width="75" height="75" src=@imgData />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @foreach (var movie in item.Movies)
            {
                <p class="wordList">@movie.Title</p>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
