@model MediaApp.Models.Movie

@{
    Layout = "~/Views/Shared/_ModelIndexLayout.cshtml";
}

<h2 class="modelTitle">Movie<br />Details</h2>
<div class="movieDetailContainer">
    @if (Model.MovImage != null)
    {
        var imgData = "data:" + @Model.MovImage.Type + ";base64," + @Model.MovImage.Data;
        <img class ="movImage" src=@imgData />
    } else if (Model.imgURL != null)
    {
        <img class ="movImage" src=@Model.imgURL />
    }

    <div class="movIntro">
        <h1 class="movTitle">@Model.Title</h1>
        <p class="movSynopsis">@Model.Synopsis</p>

        @foreach(var genre in Model.Genre)
        {
            <p class="movGenre">@genre</p>
        }
        <br/>
        <p class="movYear">@Model.Year</p>
        <p class="movRating">IMDb Rating: @Model.Rating %</p>
    </div>

    <div class="movDirectorContainer">
        <h3 class="movDirectorLabel">Director</h3>
        <p class="movDirector">@Model.Director.Name</p>
    </div>

    <h3 class="movActorLabel">Actors</h3>
    @foreach(var actor in Model.Cast)
    {
        <p class="movActor">@actor.Name</p>
    }
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
